@import '../../styles/_variables.sass';

.dashboard {
  padding: 2rem;

  .search-container {
    display: flex;
    margin-bottom: 2rem;
    gap: 8px;
    
    input {
      padding: 0.5rem;
      width: 300px;
      border: 1px solid #ddd;
      border-radius: $main-border-radius;
    }
  }

  .results-button,
  .finalize-button,
  .reset-button {
    padding: 0.5rem 1rem;
    border-radius: $main-border-radius;
    border: none;
    cursor: pointer;
    
    &.results-button {
      background-color: #00ff9d;
      color: white;
    }
    
    &.finalize-button {
      background-color: #666666;
      color: white;
    }

    &.reset-button {
      background-color: #989595;
      color: black;
    }
  }

  .no-results {
    text-align: center;
    margin-top: 2rem;
    
    button {
      padding: 0.5rem 1rem;
      background-color: #666;
      color: white;
      border: none;
      border-radius: $main-border-radius;
      cursor: pointer;
    }
  }
} 
