.tests-grid {
  display: grid;
  grid-template-columns: 40% 1fr 1fr 1fr 150px;
  width: 100%;
  row-gap: 6px;
}

.grid-header {
  display: contents;
  font-weight: bold;
  
  >div {
    padding: 1rem;
  }
}

.grid-body {
  display: contents;
}
